#bg-title {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.house {
  width: 100%;
  height: auto;
}

.house img{
  width: 100%;
}

#enter {
  position:fixed;
  width:max-content;
  height:5em;
  top:90vh;
  left:50vw;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #bf783a;
	animation: blink 4s linear infinite;
}

@keyframes blink {
	0% { opacity: 0; }
	50% { opacity: 1; }
  100% { opacity: 0; }
}
