nav {
  background: linear-gradient(to right bottom,  black, indigo);
  height: 3em;
}

a {
  color: white;
}

button {
  color: white;
}

li {
  text-align: center;
}

.dropdown-divider {
  margin: 2em 0;
}

.nav-dropdown {
  color: white;
  width: 100vw;
  height: 100vh;
  background:rgba(0,0,0,0.9);
}

button img{
  margin-right: 0.5em
}

.page-category {
  font: xx-large bold;
  color: gold;
}

.conf-category {
  font: xx-large bold;
  color: hotpink;
}

.navbar-brand {
  height:100%;
}

.navbar-brand img {
  width: auto;
  height: 100%;
}

.sound {
  width:100%;
  display: inline;
}
