nav {
  background: linear-gradient(to right bottom,  black, indigo);
  height: 3em;
}

a {
  color: white;
}

button {
  color: white;
}

li {
  text-align: center;
}

.dropdown-divider {
  margin: 2em 0;
}

.nav-dropdown {
  color: white;
  width: 100vw;
  height: 100vh;
  background:rgba(0,0,0,0.9);
}

.dropdown-menu {
  margin: 0;
  border-radius: 0;
}

button img{
  margin-right: 0.5em
}

.page-category {
  font: xx-large bold;
  color: gold;
}

.conf-category {
  font: xx-large bold;
  color: hotpink;
}

.navbar-brand {
  padding-left:1em;
  height:100%;
}

.navbar-brand img {
  width: auto;
  height: 100%;
}

#sound {
  padding-right: 1em;
  color: white;
}

#sound input {
  width: 5em;
}

#sound-icon {
  margin-right:0.5em;
}

.volume-zero::before {
  position:absolute;
  content:"";
  width: 3px;
  height: 30px;
  border-radius: 20%;
  background: white;
  transform: translate(15px, 0) rotate(45deg);
}
