<div class="header-belt">
  <img src="../../../assets/img/cloud_sample.png" id="cloud0" class="cloud" alt="cloud">
  <img src="../../../assets/img/cloud_sample.png" id="cloud1" class="cloud" alt="cloud">
  <img src="../../../assets/img/cloud_sample.png" id="cloud2" class="cloud" alt="cloud">
  <img src="../../../assets/img/cloud_sample.png" id="cloud3" class="cloud" alt="cloud">
  <img src="../../../assets/img/cloud_sample.png" id="cloud4" class="cloud" alt="cloud">
</div>
<div class="header-diamond">
  <i>Character List</i>
  <h1>妖怪図鑑</h1>
</div>
<div class="main-container">
  <div class="character-frame">
    <h1>{{character_name}}</h1>
    <div class="main-image">
      <img [src]="main_image_path" alt="character">
      <div class=""></div>
    </div>
    <div class="character-exp">{{character_exp}}</div>
  </div>
  <div class="character-select">
    <div *ngFor="let d of character_data;">
      <img [src]="d.select_image_file" alt="character">
    </div>
  </div>
</div>
