<div class="header-belt">
  <img src="../../../assets/img/cloud_sample.png" id="cloud0" class="cloud" alt="cloud">
  <img src="../../../assets/img/cloud_sample.png" id="cloud1" class="cloud" alt="cloud">
  <img src="../../../assets/img/cloud_sample.png" id="cloud2" class="cloud" alt="cloud">
  <img src="../../../assets/img/cloud_sample.png" id="cloud3" class="cloud" alt="cloud">
  <img src="../../../assets/img/cloud_sample.png" id="cloud4" class="cloud" alt="cloud">
</div>
<div class="header-diamond">
  <i>Character List</i>
  <h1>妖怪図鑑</h1>
</div>
<div class="main-container">
  <div class="character-frame">
    <h1></h1>
    <div class="main-image">
      <img src="../../../assets/img/Akabeko_neutral.png" alt="character">
    </div>
    <div class="character-exp">
      he is very cutie.
    </div>
  </div>
  <div class="character-select">

  </div>
</div>
