
.stage-header, .stage-footer {
  width: 100%;
  height: 15em;
  background: linear-gradient(to right,#281a14 3%, #8a3b00 3% 100%);
  background-size: 50px auto;
}

.stage-header {
  border-bottom: #281a14 3px ridge;
}

.stage-footer {
  border-top: #281a14 3px ridge;
}

.stage-header div {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,black 80%, transparent);
}

.stage-footer div {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top,black 80%, transparent);
}



/* Character frame area */

.backstage {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
}

.backstage::before {
  position: absolute;
  top: 80%;
  right: 10%;
  z-index: 1;
  content: "";
  background: url('../../../assets/img/matsu-illust6.png') no-repeat;
  background-size: contain;
  width:70vh;
  height:70vh;
  transform: translate(0, -100%);
}

.backstage::after {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: #2b2b2b 5px inset;
  border-bottom: #583822  3px ridge;
  content: "";
  background: url('../../../assets/img/flooring-pattern-oil.jpg') repeat center/100px ;
  width: 100%;
  height: 30%;
  z-index: 0;
}

.character-part {
  padding-bottom: 2em;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.character-name {
  display: flex;
  width: 100%;
  height:auto;
  justify-content: center;
  padding: 1em;
}

.outer-name {
  padding: 0.5em;
  width: max-content;
  height: 100%;
  background: linear-gradient(135deg, #316745, #007b43);
}

.inner-name {
  padding: 0.5em 3em;
  width: max-content;
  height: 100%;
  background: url('../../../assets/img/tesukiwashi-pattern-08.jpg') no-repeat;
}

.main-image {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
}

.main-image img {
  width: 50vw;
  height: 50vh;
  object-fit: contain;
}

.character-exp {
  height: auto;
  min-height: 5em;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.inner-exp {
  width: 80%;
  height: 90%;
  min-height: 5em;
  padding: 1em;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 3px;
  white-space: pre-line;
  overflow-y: auto;
}

@media screen and (orientation: portrait) {
  .inner-exp {
    max-height: 7em;
  }
}

.curtain {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  box-shadow: black 0 3px 1px;
  background: linear-gradient(to right, #000 34%, #bb5520 34% 67%, #006D4D 67% 100%);
  background-size: 150px auto;
}

/* Character select area */
.character-select {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
}

.select-background {
  display: flex;
  align-items: flex-end;
  margin: 2em 1em;
  width: 10em;
  height: 10em;
  background: url('../../../assets/img/hitodama.png') no-repeat;
  background-size: contain;
}


.select-background img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.select-background:hover img{
  width: 120%;
  height: 120%;
}

.on-the-stage {
  animation: 0.5s linear 0s fly-away;
}

@keyframes fly-away {
  from {
    transform: scale(1, 1) translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: scale(1.2, 0.8) translate(0, 0);
    opacity: 1;
  }
  75% {
    transform: scale(1, 1.5);
  }
  to {
    transform: scale(1, 1) translate(0, -100%);
    opacity: 0;
  }
}

