<div id="bg-living-room" class="background">
  <!-- Move Room -->
  <div class="move-vec move-left"  (click)="onMove('workShop')">
    <img src="../../../assets/img/move_left.png" alt="Work Shop">
    <p>Work Shop</p>
  </div>

  <div class="move-vec move-right"  (click)="onMove('teaRoom')">
    <img src="../../../assets/img/move_right.png" alt="Tea Room">
    <p>Tea Room</p>
  </div>

  <div class="move-vec move-up"  (click)="onMove('casino')">
    <img src="../../../assets/img/move_up.png" alt="Casino">
    <p>Casino</p>
  </div>

  <!-- Charactor -->
  <div id="nurarihyon" class="charactors" (click)="openSerifs('LivingRoom', 'Nurarihyon')">
    <img src="../../../assets/img/Nurarihyon_neutral.png" alt="Nurarihyon">
  </div>

  <div id="jessica" class="charactors" (click)="openSerifs('LivingRoom', 'Jessica')">
    <img src="../../../assets/img/Jessica_neutral.png" alt="Jessica">
  </div>

</div>
