/* background */
#bg-living-room {
  background: url('../../../assets/img/living-room_open_landscape.png') no-repeat center;
  background-size: auto 100vh;
  background-color: black;
}

@media screen and (orientation: portrait)  {
  #bg-living-room {
    background: url('../../../assets/img/livinng-room_open_portrait.png') no-repeat center;
    background-color: black;
    background-size: 100vw auto;
  }
}

/* characters */
.characters {
  position: absolute;
  top: 50%;
  left: 50%;
}

.characters img {
  width: 100%;
  height: 100%;
}

#eye-mirror {
  width: auto;
  height: 18vh;
  transform: translate(8vh, -1vh);
}

@media screen and (orientation: portrait)  {
  #eye-mirror {
    width: 18vw;
    height: auto;
    transform: translate(3vw, 5vw);
    top: 52%;
  }
}


#tommy {
  width: auto;
  height: 45vh;
  transform: translate(22vh, 8vh);
}

@media screen and (orientation: portrait)  {
  #tommy {
    width: 30vw;
    height: auto;
    transform: translate(10vw, 23vw);
  }
}


/* Room Move Vector */
.move-up {
  top: 50%;
  left: 50%;
  transform: translate(-20vh, 10vh);
}

@media screen and (orientation: portrait)  {
  .move-up {
    transform: translate(-18vw, 5vw);
  }
}
