/* Common in this page */

.main-content {
  background-color: rgba(0, 0, 0, 0);
}

.section-title {
  font-size: 5em;
  font-weight: bolder;
  font-family: 'Monotype Corsiva', fantasy;
  color: black;
  width: max-content;
  border-bottom: black 3px solid;
  padding: 0 1em 0 1em;
  margin-bottom: 0.5em;
}

.strongly {
  font-size: x-large;
  font-weight: bold;
  color:black;
}

.notice {
  font-size: large;
  font-weight: bold;
  color: black;
}

.tatami-header, .tatami-footer {
  width: 100%;
  height: 60px;
  margin: 0;
  background-color:#def;
  background-image: radial-gradient(closest-side, transparent 98%, #769164 99%),
  radial-gradient(closest-side, transparent 98%, #769164 99%);
  background-size:40px 40px;
  background-position:0 0, 20px 20px;
}

.tatami-header {
  margin-bottom: 3em;
  border-top: #2b2b2b 2px solid;
}

.tatami-footer {
  margin-top: 3em;
  border-bottom: #2b2b2b 2px solid;
}

/* background image layer */
.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.horror-eye {
  width: 100%;
  height: 30vh;
  background-size: 15em 15em;
  background-image: url('../../../assets/img/whose_eye.png');
  background-color: black;
  background-position: 5em center;
}


/* Ice Breaking */

#greeting_area {
  width: 100%;
  background-image: url('../../../assets/img/tesukiwashi-pattern-08.jpg');
  border: #2b2b2b 5px solid;
  padding-top: 7em;
  display: flex;
  flex-direction: column;
}

#greeting_area p {
  padding: 1em;
}

/* Introduction */
#status_area {
  background-image: url('../../../assets/img/tatami01.jpg');
  padding-bottom: 3em;
}

.left-half {
  color: white;
}

#card {
  width: 20em;
  height: 40em;
  border-style: solid;
  border-width: 8px;
  border-color: #2b2b2b;
  box-shadow: 0 1em 1em black;
}

#card img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#inner-box {
  position:relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/img/japanese-paper-03.jpg');
  background-size: cover;
  z-index: 0;
}

#rarelity {
  position:absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 7em;
  height: 2em;
  border-radius: 50%;
  background: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
  text-align: center;
  z-index: 2;
}

#portrait {
  position:absolute;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: #2b2b2b;
  border-width: 5px;
  border-radius: 50%;
  z-index: 1;
}

#strength {
  position:absolute;
  bottom: 0;
  left: 0;
  width: 4em;
  height: 4em;
  background:#e83929;
  border-radius: 10%;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 0.5em;
}

#str_title {
  padding-top: 2px;
  font-size: x-small;
}

#str_unit {
  font-size: xx-small;
}

#card_name {
  position:absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 5em;
  height: 1.5em;
  border-radius: 5%;
  background: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
  text-align: center;
  font-size: xx-large;
  font-family: 'Monotype Corsiva', fantasy;
  z-index: 2;
}

#attribute {
  position:absolute;
  bottom: 0;
  right: 0;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}

.right-half  {
  display: flex;
  height: auto;
  color: black;
  font-size: large;
}

#comment, #profile, #equipment, #expression {
  border-style: solid;
  border-width: 5px;
  background-image: url('../../../assets/img/japanese-paper-03.jpg');
  background-size: cover;
  border-color: #2b2b2b;
  box-shadow: 0 0.5em 0.5em;
}

#comment {
  font-family: 'Monotype Corsiva', fantasy;
  font-style: italic;
  font-size:x-large;
}

#profile thead td {
  font-weight: bold;
}

#speacies {
  font-weight: bold;
  font-size: x-large;
}

/* Skill Sets */
#skills_area {
  position: relative;
  text-align: center;
  background: url('../../../assets/img/tatami01.jpg');
  padding-top: 3em;
  padding-bottom: 3em;
}

#skills_area table, .skill-title {
  width: 90%;
  margin-left: 5%;
  background: url('../../../assets/img/cedar.jpg');
}

#skills_area td {
  border-top: #6f4b3e 2px inset;
  vertical-align: middle;
}

#skills_container {
  position: relative;
  z-index: 5;
}

.skill-title {
  font-size: x-large;
  font-weight: bold;
  color: #543f32;
}

#legend tr td:nth-of-type(1) {
  width: 50%;
}

#legend tr td:nth-of-type(2) {
  width: 5em;
  text-align: left;
  font-weight: bold;
}

#legend tr td:nth-of-type(3) {
  text-align: left;
}

#summary {
  margin-bottom: 0;
}

.gauge_on, .gauge_off  {
  display: inline-block;
  width: 15%;
  min-width: 1em;
  height: 3em;
  margin-right: 1em;
  text-align: center;
}

.gauge_on img {
  width: auto;
  height: 100%;
}

.gauge_off img {
  display: none;
}

@media screen and (max-width: 576px) {
  .gauge_on, .gauge_off  {
    width: 5em;
    height: 1em;
  }

  .gauge_on img {
    width: 5em;
    height: 1em;
    object-fit: cover;
  }
}


slide {
  height: max-content;
}

slide table:not(#potential) {
  min-height: 50vh;
}

slide table tr td:nth-of-type(1) {
  width: 10em;
  text-align: end;
  font-weight: bold;
}

slide table tr td:nth-of-type(2) {
  text-align: start;
}

#potential {
  width: 100vw;
}

@media screen and (max-width: 992px){
  #potential {
    width: 90%;
  }
}

.item-potential {
  display: block;
  width: 10em;
  text-align: end;
  font-weight: bold;
}

.gauge-potential {
  width: 100%;
}


/* Education and Personal history */
#career_area {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url('../../../assets/img/tatami01.jpg');
  min-height: 100vh;
  position: relative;
  padding-top: 3em;
}

.click-it {
  margin-top: 1em;
  font-size: xx-large;
	animation: blink 2s linear infinite;
}

@keyframes blink {
	0% { opacity: 0; }
	50% { opacity: 1; }
  100% { opacity: 0; }
}

details[open] ~ .click-it {
  display: none;
  animation-play-state: paused;
}

#career_area details {
  width: 80%;
  margin-left: 5%;
  border: none;
  margin-bottom: 5em;
}

details[open] .makimono-inner {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0%, -8em);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

details summary {
  list-style: none;
}

details summary:focus {
  outline: none;
}

.makimono {
  position: relative;
  width: 95%;
  height: max-content;
  min-height: 8em;
  padding: 1em auto;
  background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
  text-align: center;
  z-index: 1;
  box-shadow: 1em 1em 1em;
  border-top-left-radius:  1.5em 50%;
  border-bottom-left-radius:  1.5em 50%;
  transform: translate(-1em, 0);
}

.makimono .title {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: whitesmoke;
  width: 60%;
  height: max-content;
  min-height: 3em;
  transform: translate(-50%, -50%);
  font-size: x-large;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  z-index: 3;
  border-radius: 0% 5%;
  box-shadow: -1em 1em 2em khaki inset;
  font-family: 'Monotype Corsiva', fantasy;
}

.left-roll {
  position: absolute;
  left: 0;
  width: 3em;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  transform: translate(-50%, 0%);
  z-index: 2;
}

.right-roll {
  position: absolute;
  right: 0;
  width: 3em;
  height: 100%;
  border-radius: 50%;
  background-color: whitesmoke;
  transform: translate(50%, 0%);
  z-index: 2;
}

.makimono-core {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30%;
  background-color: black;
}

.makimono-core .left-roll {
  width: 1em;
  background-color: black;
}

.makimono-core .right-roll {
  width: 1em;
  background-color: #222222;
}

.makimono-inner {
  width: 93%;
  background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
  padding: 0.5em 1em 1em 1em;
  margin-bottom: 1em;
}

.makimono-inner .paper {
  padding: 2em 1em 1em 0;
  background-image: url('../../../assets/img/tesukiwashi-pattern-08.jpg');
}

#history tr td:nth-of-type(1) {
  vertical-align: text-top;
  text-align: end;
  padding-top: 1em;
  padding-right: 2em;
  font-size: x-large;
  font-weight: bold;
}

#history tr td:nth-of-type(2) {
  height: 20em;
}

#history tr td:nth-of-type(3) {
  padding-left: 2em;
  font-size: large;
  text-align: start;
}

@media screen and (max-width:767px) {
  #history td {
    display: block;
  }
  #history tr td:nth-of-type(1) {
    text-align: start;
    padding-left: 1em;
  }

}

.event-spot {
  padding-top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.event-spot .spot {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: black;
}

.event-spot .v-line {
  width: 1px;
  height: 100%;
  min-height: 3em;
  background-color: black;
  flex-grow: 1;
}

.final-spot {
  background-color: crimson !important;
}

/* Exit */
#exit {
  position: relative;
  height: 100vw;
  padding: 3em;
  animation: inhaling 0.2s linear infinite;
}

@keyframes inhaling {
  0% {
    background: repeating-radial-gradient(circle , white 5px, black 10px, white 15px);
  }
  25% {
    background: repeating-radial-gradient(circle , white 3px, black 8px, white 13px);
  }
  50% {
    background: repeating-radial-gradient(circle , black 5px, white 10px, black 15px);
  }
  75% {
    background: repeating-radial-gradient(circle , black 3px, white 8px, black 13px);
  }
  100% {
    background: repeating-radial-gradient(circle , white 5px, black 10px, white 15px);
  }
}

#akabeko {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

#akabeko img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* bubble */
.bubble {
  position: relative;
  display: flex;
  width: max-content;
  min-width: 10em;
  font-size: large;
  align-items: center;
  justify-content: center;
  color:black;
  padding: 1em;
  background-color: white;
  border-radius: 50%;
  margin-left: 1em;
}
.bubble:before {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  border-style: solid;
  border-color: transparent white;
  border-width: 10px 10px 10px 0;
  top: 50%;
  left: -0.5em;
  margin-top: -0.5em;
}

