<div class="darkerred_background">

 <!-- Ice breaking -->
 <div id="greeting_area" class="greeting">
    <h1>Welcome</h1>
    <p>
      Youkoso very much! I've been waiting for you!!
      My name is <span class="stongly">Takeru Tomii</span>, call me <span class="notice">Tommy</span> !
      <br>
      I'm a <span class="strongly">Software Developer </span>
      and mainly in charge of <span class="notice">Front Side</span>.
      <br>
      I was studying Search Algorithms in University of Tsukuba in Japan
      and have a <span class="notice">Bachelor's Degree of Information Science</span>.
      <br>
      <br>
      This site is made for my portfolio and indicate
      <br>
      how much I can supply your customer
      <span class="strongly">Fabulous User Expreliences</span> through my techniques.
      <br>
      I sympathize how anxious you feel to hire a stranger who have met at first,
      <br>
      but don't worry be happy! at least after reading my informations below.
      <br>
      If you have some interests on me, I'm glad you to check out althrough this site!
    </p>
  </div>
  <!-- Introduction -->
  <div id="status_area" class="status">

    <div class="right-half">
      <div id="card"></div>
    </div>

    <div class="left-half">
      <div id="comment"></div>
      <table id="profile"></table>
      <table id="equipment"></table>
      <div id="expression"></div>
    </div>

  </div>

  <!-- Skill Sets -->
  <div id="skills_area" class="skills">

  </div>
  <!-- Education and Personal history -->
  <div id="career_area" class="career">

  </div>
</div>
