/* Common in this page */

.main-content {
  background-color: rgba(0, 0, 0, 0);
}

h1 {
  font-size: 8em;
  font-weight: bolder;
  font-family: 'serif', serif;
  color: gold;
  text-shadow: 3px 3px 3px black;
}

.strongly {
  font-size: x-large;
  font-weight: bold;
  font-family: 'serif', serif;
  color:gold;
}

.notice {
  font-size: large;
  color: palegoldenrod;
  font-family: 'serif', serif;
}

.black-strongly {
  font-size: x-large;
  font-weight: bold;
  font-family: 'serif', serif;
  color:black;
}

.black-notice {
  font-size: large;
  font-weight: bold;
  font-family: 'serif', serif;
  color: black;
}

/* background image layer */
.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.red-plum {
  width: 100%;
  height: 100vh;
  background-image: url('../../../assets/img/bg-redplum.jpg');
  background-size: cover;
}

.horror-eye {
  width: 100%;
  height: 30vh;
  background-size: 15em 15em;
  background-image: url('../../../assets/img/whose_eye.png');
  background-color: black;
  background-position: 5em center;
}


/* Ice Breaking */
#greeting_title {
  background: linear-gradient(to right top, purple, red);
  opacity: 0.8;
  clip-path: polygon(0 0, 50em 0, 40em 100%, 0 100%);
  margin-top: 1em;
  padding-left: 2em;
  font-size: 50%;
}

#greeting_area {
  width: 100%;
  text-align: start;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  clip-path: polygon(20% 0, 100% 0 , 100% 100%, 30% 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#greeting_area p {
  padding-right: 1em;
  width: 70%;
}

/* Introduction */
#status_area {
  padding-bottom: 1em;
  background: radial-gradient(red, black);
}

.left-half {
  color: gold;
  text-shadow: 1px 2px 1px black;
}

#card {
  width: 20em;
  height: 40em;
  border-style: ridge;
  border-color: gold;
}

#card img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#inner-box {
  position:relative;
  display: flex;
  width: 100%;
  height: 100%;
  border-style: double;
  border-color: goldenrod;
  background-color: palegoldenrod;
  z-index: 0;
}

#rarelity {
  position:absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 7em;
  height: 2em;
  border-style: ridge;
  border-color: gold;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  z-index: 2;
}

#portrait {
  position:absolute;
  width: 100%;
  height: 100%;
  border-style: ridge;
  border-color: gold;
  border-radius: 50%;
  z-index: 1;
}

#strength {
  position:absolute;
  bottom: 0;
  left: 0;
  width: 4em;
  height: 4em;
  border-style: outset;
  border-color: crimson;
  background-color: crimson;
  border-radius: 10%;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 0.5em;
}

#str_title {
  font-size: x-small;
}

#str_unit {
  font-size: xx-small;
}

#card_name {
  position:absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 6em;
  height: 1.5em;
  border-style: ridge;
  border-color: gold;
  border-radius: 5%;
  background-color: white;
  text-align: center;
  font-size: x-large;
  font-family: 'Monotype Corsiva', fantasy;
  z-index: 2;
}

#attribute {
  position:absolute;
  bottom: 0;
  right: 0;
  width: 3em;
  height: 3em;
  border-style: outset;
  border-color: gold;
  border-radius: 50%;
  z-index: 2;
}

.right-half  {
  display: flex;
  height: auto;
  color: black;
  font-size: large;
}

#comment {
  border-style: ridge;
  background-color: palegoldenrod;
  border-color: gold;
  font-family: 'Monotype Corsiva', fantasy;
  font-style: italic;
  font-size:x-large;
}

#profile {
  border-style: ridge;
  background-color: palegoldenrod;
  border-color: gold;
}

#profyle thead td {
  font-weight: bold;
}

#equipment {
  border-style: ridge;
  background-color: palegoldenrod;
  border-color: gold;
}

#expression {
  border-style: ridge;
  background-color: palegoldenrod;
  border-color: gold;
}

#speacies {
  font-weight: bold;
  font-size: x-large;
}

/* Skill Sets */
#skills_area {
  text-align: center;
  background: linear-gradient(to Top right, black, mediumvioletred);
  border-top-right-radius: 60%;
  border-bottom-right-radius: 80%;
  box-shadow: 1em 1em 5em;
}

#legend {
  width: 90%;
  margin-left: 5%;
}

#legend tr td:nth-of-type(1) {
  width: 50%;
}

#legend tr td:nth-of-type(2) {
  width: 5em;
  text-align: left;
  font-weight: bold;
}

#legend tr td:nth-of-type(3) {
  text-align: left;
}

#legend, #summary, .regular-skills {
  background-color: rgba(0, 0, 0, 0.8);
}

.gauge_on {
  display: inline-block;
  width: 15%;
  min-width: 5em;
  height:1em;
  margin-right: 1em;
  border-style: outset;
  background-color: lime;
  border-color: lime;
  border-width: 3px;
}


.gauge_off {
  display: inline-block;
  width: 15%;
  min-width: 5em;
  height:1em;
  margin-right: 1em;
  border-style: outset;
  background-color: gray;
  border-color: gray;
  border-width: 3px;
}

.gauge_overflow {
  display: inline-block;
  width: 15%;
  min-width: 5em;
  height:1em;
  margin-right: 1em;
  border-style: outset;
  background-color: red;
  border-color: red;
  border-width: 3px;
}

slide {
  height:max-content;
}

.skill-title {
  margin-left: 5%;
  width: 90%;
  background-color: black;
}

slide table {
  margin-left: 5%;
  width: 90%;
  max-height: 25em;
}

slide table tr td:nth-of-type(1) {
  width: 10em;
  text-align: end;
  font-weight: bold;
}

slide table tr td:nth-of-type(2) {
  text-align: start;
}

.gauge-potential {
  /* TODO: How express gauge overflowed */
}

/* Education and Personal history */
#career_area {
  text-align: center;
}

.click-it {
  font-size: xx-large;
	animation: blink 1s ease infinite;
}

@keyframes blink {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

#career_area details {
  width: 90%;
  margin-left: 5%;
  border: none;
}

details[open] .makimono-inner {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0%, -10em);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.makimono {
  position: relative;
  width: 100%;
  height: 10em;
  background-color: green;
  text-align: center;
  z-index: 1;
}

.makimono .title {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: whitesmoke;
  width: 60%;
  height: 3em;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.left-roll {
  position: absolute;
  left: 0;
  width: 5em;
  height: 100%;
  border-radius: 50%;
  background-color: green;
  transform: translate(-50%, 0%);
  z-index: 2;
}

.right-roll {
  position: absolute;
  right: 0;
  width: 5em;
  height: 100%;
  border-radius: 50%;
  background-color: whitesmoke;
  transform: translate(50%, 0%);
  z-index: 2;
}

.makimono-core {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30%;
  background-color: black;
}

.makimono-core .left-roll {
  width: 1em;
  background-color: black;
}

.makimono-core .right-roll {
  width: 1em;
  background-color: #222222;
}

.makimono-inner {
  width: 100%;
  background-color: green;
  padding: 0 1em 1em 1em;
}

.makimono-inner .paper {
  background-color: white;
}


#history tr td:nth-of-type(1) {
  width: 10em;
  vertical-align: text-top;
  text-align: end;
  padding-top: 1em;
  padding-right: 2em;
  font-size: x-large;
  font-weight: bold;
}

#history tr td:nth-of-type(2) {
  width: 5em;
  height: 20em;
  min-height: 10em;
}

#history tr td:nth-of-type(3) {
  padding-left: 2em;
  font-size: large;
  font-style: italic;
  text-align: start;
}

.event-spot {
  padding-top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.event-spot .spot {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: black;
}

.event-spot .v-line {
  width: 1px;
  height: 100%;
  min-height: 3em;
  background-color: black;
  flex-grow: 1;
}

.final-spot {
  background-color: crimson !important;
}

/* Exit */
#exit {
  position: relative;
  padding: 2em;
}

#akabeko {
  width: 10em;
  height: 10em;
}

#akabeko img {
  width: 100%;
  height: 100%;
}

/* bubble */
.bubble {
  position: relative;
  display: flex;
  width: max-content;
  min-width: 15em;
  font-size: large;
  align-items: center;
  justify-content: center;
  color:#FFF;
  padding: 25px;
  background-color: orange;
  border-radius: 50%;
  margin-left: 1em;
}
.bubble:before {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  border-style: solid;
  border-color: transparent orange;
  border-width: 10px 10px 10px 0;
  top: 50%;
  left: -0.5em;
  margin-top: -0.5em;
}

/* for smartphone */
/* @media screen and (max-width: 480px) {

} */
