<div id="bg-washi" class="d-flex flex-lg-row">
  <!-- charactor  -->
  <div id="chara_side" class="d-flex col-4">
    <div id="akabeko" class="charactors d-flex">
      <img src="../../../assets/img/Akabeko_neutral.png" alt="Akabeko">
      <div class="bubble">
        <p>Fullfill the form and send Tommy message!</p>
      </div>
    </div>
  </div>
  <!-- input form  -->
  <div id="form_side" class="d-flex col-8 flex-column">
    <!-- Name -->
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="John Doe">
    </div>
    <!-- Email -->
    <div class="form-group">
      <label for="email_address">Email address</label>
      <input type="email" class="form-control" id="email_address" placeholder="example@xxx.mail.com">
    </div>
    <!-- Message -->
    <div class="form-group">
      <label for="message">Name</label>
      <textarea class="form-control" id="message" placeholder="You are hired." rows="10"></textarea>
    </div>
    <!-- Send Button -->
    <button id="send" type="button">Send</button>
  </div>
</div>
