<div class="background">
  <ng-template #init_modal>
    <div  class="modal-header">
      <h4 class="modal-title pull-left">Configure before entering.</h4>
    </div>
    <form #confForm="ngForm" (ngSubmit)="configure()">
      <div class="modal-body">
        <div class="lang form-check-inline">
          <label>Langage:</label>
          <div class="btn-group">
            <ng-container *ngFor="let la of langs">
              <label class="btn btn-outline-primary">
                <input type="radio" name="langs"
                [(ngModel)]="lang_selected"
                [value]="la.value">
                {{la.label}}
              </label>
            </ng-container>
          </div>
          </div>

        <div class="sound">
          <label>Sound:</label>
          <div class="btn-group">
            <ng-container *ngFor="let s of sounds">
              <label class="btn btn-outline-primary">
                <input type="radio" name="sounds"
                [(ngModel)]="sound_selected"
                [value]="s.value">
                {{s.label}}
              </label>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" value="OK" class="btn btn-primary" (click)="modalRef.hide()">
      </div>
    </form>
  </ng-template>

</div>
