/* 背景設定 */
.background {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-color: black;
  background-size: cover;
}

/* map用矢印 */
.move-vec {
  position: absolute;
  width:3em;
  height:5em;
  text-align: center;
}

.move-vec img {
  width:3em;
  height:3em;
  opacity:0.5;
}

.move-vec p {
  opacity: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.move-vec:hover img{
  opacity: 1;
}

.move-vec:hover p{
  background-color: black;
  color: white;
  opacity: 1;
}

.move-left {
  top: 50vh;
  left: 0;
}

.move-right {
  top: 50vh;
  right: 0;
}

.move-up {
  top: 3em;
  left: 50vw;
}

.move-down {
  bottom: 0;
  left: 50vw;
  margin-bottom: 1em;
}

/* セリフ用モーダル */
.serif-modal .modal-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0);
}

/* everywhere else */
* {
  font-family: 'Book Antiqua', 'Times New Roman', 'Century';
}
