#main-container {
  background: url('../../../assets/img/bg-pond.jpg'), no-repeat;
  background-attachment: fixed;
}

.last-scroll {
  background: url('../../../assets/img/Thankyou.png'), repeat !important;
  background-size: 500px auto !important;
  background-color: black !important;
  animation-duration: 0.5s;
}

.last-scroll a {
  color: #2b2b2b!important;
}

.clear-background {
  background-image: none!important;
}

.clear-background .paper{
  background: rgba(255, 255, 255, 0.1)!important;
}


.inner-container {
  padding-top: 7em;
  padding-bottom: 2em;
  margin-bottom: 0;
  background: radial-gradient(transparent, black);
}

.section{
  margin:1em;
  display: flex;
  justify-content: space-around;
}

details {
  width: 90%;
}

details summary {
  list-style: none;
}

details summary:focus {
  outline: none;
}

.accordion-title, .accordion-content {
  background: url('../../../assets/img/asanoha.png') repeat;
  background-size: 600px 600px;
}

.accordion-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 5em;
}

.accordion-title::before, .accordion-title::after {
  content: "";
  position: absolute;
  background: silver;

}

.accordion-title::before {
  right:2.4em;
  width: 3px;
  height: 1em;
}

.accordion-title::after {
  right:2em;
  width: 1em;
  height: 3px;
}

details[open] .accordion-title::before,
details[open] .accordion-title::after {
  transform: rotate(405deg);
  animation: rotation 1s ease;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(405deg);
  }
}

.accordion-title p {
  width:100%;
  margin: 0.5em 1em;
  padding: 0.5em 1em;
  font-size: large;
  background: rgba(255, 255, 255, 0.8);
}

.accordion-content {
  padding: 1em;
}

details[open] .accordion-content {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0%, -1em);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.paper {
  padding: 1em;
  background: rgba(255, 255, 255, 0.9);
}

.strong-message {
  font-size: x-large;
  font-style: italic;
}

dd {
  padding-left: 1em;
}

p iframe {
  width: 80%;
  height: auto;
  aspect-ratio: 16 / 9;
  margin:1em;
}
