<!-- Common header zone -->
<div class="header-belt">
  <img src="../../../assets/img/cloud_sample.png" id="cloud0" class="cloud" alt="cloud">
  <img src="../../../assets/img/cloud_sample.png" id="cloud1" class="cloud" alt="cloud">
  <img src="../../../assets/img/cloud_sample.png" id="cloud2" class="cloud" alt="cloud">
  <img src="../../../assets/img/cloud_sample.png" id="cloud3" class="cloud" alt="cloud">
  <img src="../../../assets/img/cloud_sample.png" id="cloud4" class="cloud" alt="cloud">
</div>
<div class="outer-diamond">
  <div class="header-diamond">
    <div>
      <p>concept</p>
      <hr>
      <h1>制作秘話</h1>
    </div>
  </div>
</div>

<div id="main-container">
  <div class="inner-container">
    <div id="site_purpose" class="section">
      <details>
        <summary>
          <div class="accordion-title">
            <p>
              What's this website?
            </p>
          </div>
        </summary>
        <div class="accordion-content">
          <div class="paper">
            <p>
              This website is a kind of portfolio to introduce myself.
              I made this site for studying new technologies
              and appealing my ability of making fabulous websites to my potential customers.
            </p>
            <p>
              To make this website, I bribed my wife with
              <a href="https://store.wacom.jp/products/detail.php?product_id=4197" target="blank">Wacom Cintic 16 FHD</a>
              (a kind of expensive pen tablet)
              and employed as my special illustrator.
              She created each
              <a href="https://en.wikipedia.org/wiki/Y%C5%8Dkai" target="blank">Yokai</a> and some awesome backgrounds with her creativity.
              Therefore this website is art fusion of a couple.
              I hope you enjoy not only my techniques but the soulful detailed illustrations of my wife!
            </p>
          </div>
        </div>
      </details>
    </div>

    <div id="main_concept" class="section">
      <details>
        <summary>
          <div class="accordion-title">
            <p>
              What's the main concept?
            </p>
          </div>
        </summary>
        <div class="accordion-content">
          <div class="paper">
            <p class="strong-message">"Entertain our visitors ---"</p>
            <p>
              This is the deepest concept of this site.
              In the phase of fundamental designs,
              I researched a lot of extraordinary superior websites
              which other skillful enginner made with maniac enthusiasm;
              which made me overwhelmed and doomed.
            </p>
            <p>
              I lost all my confidence and wanted to dissapear
              like a piece of chocolate in front of my wife when she is irritating.
              But I couldn't abandon my beloved wife whom I called from Brazil;
              the farthest place from Japan
              and my student loan which never-ending more than 15 years from now.
            </p>
            <p>
              Therefore, I gave up to give up and get ready to compete the powerful opponents
              whom I once got frightened.
              You know it's a jungle fullfilled with super-size predetors.
              This little asian with mere 180cm height needs some strategy to survive.
              After 3000 times of reflections, I decided to bet on Entertaining;
              which I've used regularly on every crisis of mine in a quarter century.
            </p>
            <p>
              Everytime when people laugh they can relax, open mind and be intrigued to the topic you speak.
              Besides it could be the most precious for happy life that how much you get entertained.
              So I always concerned about the point;
              can this choice really make my customers or members happier?
              I thought it is my nature and the best advantage to bet. This is the way.
              That's why I determined the main concept of this website, "Entertain our visitors ---".
            </p>
            <p>
              I put all my passions to entertain you like examples of "Check it out" section below.
              I reccomend to go back again to the other page you've visited if you didn't notice my hidden thoughts.
              In the case you are intrigued by the creater, shall we get down to the business?
            </p>
          </div>
        </div>
      </details>
    </div>

    <div id="check_it_out" class="section">
      <details>
        <summary>
          <div class="accordion-title">
            <p>
              Check it out
            </p>
          </div>
        </summary>
        <div class="accordion-content">
          <div class="paper">
            <p>
              You've already noticed some of my entertaining points, but what about below?
              I hope you can enjoy my work twice ;)
            </p>
            <dl>
              <dt>Serifs @ /map etc...</dt>
              <dd>
                This is main entertainment of this site. Basically Yokais in map area can speak.
                The serif function has three features.
                <ul>
                  <li>Selection</li>
                  <li>Transition</li>
                  <li>Reading Assistance (Auto / Skip / Cancel)　★★★underway</li>
                </ul>
                By these function, you can enjoy wandering this website like novel game!
                (Actually, I implemented a function of changing facial expressions,
                but gave up for numbers of illustrations)
              </dd>
              <dt>Map Moving @ /map</dt>
              <dd>
                You can walk around each room by clicking or tapping Vectors on map area,
                and encounter another Yokais!
                Some Yokais may take you to special pages,
                the others might tell you the secret of this haunted house...
              </dd>
              <dt>the Chamber of Secret @ /map</dt>
              <dd>
                Actually, there is a secret room on this house.
                You may find the entrance for there, or Yokais to give you a hint.
                Huh? Couldn't you find anything anywhere? No choice, just you and me.
                Tap around here, until something shows reactions (hint image)
              </dd>
              <dt>Card Changes @ /aboutme</dt>
              <dd>
                Did you notice that the pointer changes on the element of my card?
                This means what you see; you can click it.
                When you can click it, you would see the unknown aspects of the creator.
                To tell the truth, the card would change when you reload in About me page.
              </dd>
              <dt>Skill Board Shuriken @ /aboutme</dt>
              <dd>
                Excuse me but PC only.
                In fact, the shuriken which shows my strengths of each item,
                would change from Ninja Star into Kunai.
                If you resize the window of browser, they would transform to another form.
              </dd>
              <dt>Whose eye? Whose mouths?  @ /aboutme</dt>
              <dd>
                I'm sorry that you might scared when you scroll about me.
                You might wonder that who were staring at you or smiling at you?
                They are parts of the creater and the illustrator.
                The best clean smile is illustrator's and the others are mine.
              </dd>
              <dt>Handscroll of histry @ /aboutme</dt>
              <dd>
                As css efforts, this is most arduous work on this website...
                Based on a accordion, I expressed the handscroll part by assembling pillars.
                I've never know that golden metalic luster can illustrate
                by gradation of yellowish colors until I made this.
                When you open it, Akabeko would be waiting for you to pick up from the other dimension,
                so let's talk to him.
              </dd>
              <dt>Kabuki curtain @ /character-list</dt>
              <dd>
                When you click or tap characters below the stage,
                the character would dissapear like a ghost and next time appears on the stage,
                with closing and opening curtain.
                Actually I would feel a bit shy when I choose my character, lol.
              </dd>
              <dt>Game Over @ /error</dt>
              <dd>
                ★★★underway
                It is common sense that some curious hacker would try to crack a site when they like it.
                So I implemented a trap for the unauthorized operation like using developer tools.
                When you try to do bad manners, you would go to hell and have to restart from the begining.
                Manners maketh a man,
                as <a href="https://en.wikipedia.org/wiki/Kingsman:_The_Secret_Service" target="blank">Galahad</a> says.
                Although you dare try to go to hell, how about changing the language setting of URL?
              </dd>
            </dl>
          </div>
        </div>

      </details>
    </div>

    <div id="technology" class="section">
      <details>
        <summary>
          <div class="accordion-title">
            <p>
              Technology
            </p>
          </div>
        </summary>
        <div class="accordion-content">
          <div class="paper">
            <p>
              I used the libraries, frameworks or services below to implement this website.
              At least, I'm demonstrating you my abilities about them now.
            </p>
            <dt>Angular</dt>
            <dd>
              A framework of screen. I chose it because I have experience of it at my business.
              At coding, I've strongly commited to the extendibility of contents.
              For example, I arranged all serifs into JSON files,
              which means I don't have to change code for enhance its contents.
              Sometime this kind of efforts would underestimate like just for convinience of developers,
              however I believe this influence of the growing speed on the service,
              since it makes less costs to release.
            </dd>
            <dt>ngx-bootstrap</dt>
            <dd>
              A CSS framework. Mainly I used it for responsive layout.
              I've tried to use its decorations but given up since it doesn't match the design concepts;
              Japanese horror taste.
              Hence I implemented the most of css decorations by myself.
            </dd>
            <dt>anime.js</dt>
            <dd>
              A Javascript animation library. Mainly I used it for complex animations.
              It was the first time I use, but I pretty like it since its basics are similar
              to normal css animation and easy to set up.
              I might use it for my next work as well.
            </dd>
            <dt>RxJS</dt>
            <dd>
              A JavaScript library for reactive programing.
              Check it out <a href="https://rxjs.dev/guide/overview" target="blank">the official document</a>
              about reactive programing.
              I used it to switch rooms in map.
              Just I wanted to use it for trial.
            </dd>
            <dt>Flask</dt>
            <dd>
              An API framework of Python. I used it for sending mail from contact form to my Gmail.
              It mediates as client between a user and Gmail API through OAuth2.0 Authorization Flow.
            </dd>
            <dt>Gmail API</dt>
            <dd>
              An API Service which supplied from Google.
              I thought it might apply for another automation at business or daily life.
            </dd>
          </div>
        </div>
      </details>
    </div>

    <div id="system_requirements" class="section">
      <details>
        <summary>
          <div class="accordion-title">
            <p>
              System requirements
            </p>
          </div>
        </summary>
        <div class="accordion-content">
          <div class="paper">
            <p>
              I expect Chrome or Firefox in latest version to browse my website.
              Otherwise you might encounter unexpected experience...
              Internet Explorer is dead. Let her rest in peace.
              I don't prepare polyfills for grave robbers!
            </p>
          </div>
        </div>
      </details>
    </div>

    <div id="acknowledge" class="section">
      <details (click)="setOpenStateOfLastAccordion()">
        <summary>
          <div class="accordion-title">
            <p>
              Acknowledge
            </p>
          </div>
        </summary>
        <div class="accordion-content">
          <div class="paper">
            <p>
              There are too many people to thank for inspiring me to make this website creative,
              so I write about three women as representatives this time.
            </p>
            <p>
              First, I want thank first the illustrator, my wife.
              She gave the biggest contribution through countless attractive illustrations.
              Without her images, this site might lose originality
              and indistinguishable from other ordinary site
              and be forgotten beyond darkness
              besides I waste my lifetime then would be frightened by the scare of dying in vein.
              I love you honey.
            </p>
            <p>
              In the aspect of designs,
              I owe <a href="https://www.marv.jp/special/game/sakuna/" target="blank">Princess Sakuna</a> too much.
              I used their official website as the best reference.
              It is definitely among sophisticated masterpieces of Japanese taste design.
              There are lots of good sites but yours is the bestest.
              If you have Switch or PS4, you must rush to close my site and buy their download package.
              In the case you don't have none of Switch or PS4, you should buy them first.
            </p>
            <p>
              Finally, I must appreciate
              <a href="https://www.youtube.com/user/christinaaguilera" target="blank">Christina Aguilera</a>,
              since I came up with the idea of this site while listening to Haunted Heart.
              Why the song is not in DAM or JoySound (Major types of Karaoke Machine in Japan) yet?
              I cannot practice the song!
              I have a right to claim it because I've already watched
              <a href="https://en.wikipedia.org/wiki/The_Addams_Family_(2019_film)" target="blank">The Addams Family</a> twice.
              And give me your autograph, please.
              My sister is an enthusiastic fan of you, one of your soul sisters.
              <iframe src="https://www.youtube.com/embed/ECtJp58ELcE"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            </p>
          </div>
        </div>
      </details>
    </div>
  </div>
</div>
