<!-- Navication bar -->
<app-nav [sound_setting]="page_sound" (volume_changed)="preserveVolume($event)"></app-nav>

<!-- Common header zone -->
<div class="header-belt">
  <img src="../../../assets/img/Clouds_004.png" id="cloud0" class="cloud" alt="cloud">
  <img src="../../../assets/img/Clouds_008.png" id="cloud1" class="cloud" alt="cloud">
  <img src="../../../assets/img/Clouds_004.png" id="cloud2" class="cloud" alt="cloud">
  <img src="../../../assets/img/Clouds_007.png" id="cloud3" class="cloud" alt="cloud">
  <img src="../../../assets/img/Clouds_004.png" id="cloud4" class="cloud" alt="cloud">
</div>
<div class="outer-diamond">
  <div class="header-diamond">
    <div>
      <p>concept</p>
      <hr>
      <h1>制作秘話</h1>
    </div>
  </div>
</div>

<div id="main-container">
  <div class="inner-container">
    <div id="site_purpose" class="section" data-aos="flip-up">
      <details>
        <summary>
          <div class="accordion-title">
            <p>
              What's this website?
            </p>
          </div>
        </summary>
        <div class="accordion-content">
          <div class="paper">
            <p>
              Welcome! It's the developer Tommy writing here!
              This website is a kind of portfolio to introduce myself.
              I made this site to study new technologies
              and appeal my ability of making fabulous websites to my potential customers.
            </p>
            <p>
              To make this website, I bribed my wife with
              <a href="https://store.wacom.jp/products/detail.php?product_id=4197" target="blank">Wacom Cintic 16 FHD</a>
              and <a href="https://www.crucial.jp/memory/ddr4/ct16g4sfd8266" target="blank">Crucial 16GB DDR4-2666 SODIMM</a> .
              Thus she was employed as my special illustrator.
              She created each
              <a href="https://en.wikipedia.org/wiki/Y%C5%8Dkai" target="blank">Yokai</a> and some awesome backgrounds with her creativity.
              Therefore this website is an art fusion of a couple.
              I hope you enjoy not only my techniques but the soulful detailed illustrations of my wife!
            </p>
          </div>
        </div>
      </details>
    </div>

    <div id="main_concept" class="section" data-aos="flip-up">
      <details>
        <summary>
          <div class="accordion-title">
            <p>
              What's the main concept?
            </p>
          </div>
        </summary>
        <div class="accordion-content">
          <div class="paper">
            <p class="strong-message">"Entertain our visitors ---"</p>
            <p>
              This is the deepest concept of this site.
              In the phase of basic design,
              I researched a lot of extraordinary superior websites
              which other skillful enginner made with maniac enthusiasm;
              which made me overwhelmed and doomed.
            </p>
            <p>
              I lost all my confidence and wanted to disappear
              like a piece of chocolate in front of my wife when she is irritated.
              But I couldn't abandon my beloved wife whom I called from Brazil;
              the farthest place from Japan
              and my student loan which never-ending more than 15 years from now.
            </p>
            <p>
              Therefore, I gave up to give up and get ready to compete with the powerful opponents
              whom I once got frightened.
              You know it's a jungle fullfilled with super-size predetors.
              This little Asian with mere 180cm height needs some strategy to survive.
            </p>
            <p>
              To tell the truth, I was stuck. I came up with nothing on my mind.
              It is waste of time to continue thinking. Do you know what oriental people do the next in such cases?
              We try to learn from animals, like some styles of Kung Fu. Traditional biomimetics.
              That’s why I started to play Spider-Man.
            </p>
            <p>
              That was a quite proper approach to find a resolution.
              Immitating a super hero, I remembered a precious point; he is also a “friendly-neighborhood”.
              It’s a must to have a great power to join as a reliable staff who complete a great responsibility.
              However Spider-Man is beloved for not only his might
              but also his cheerful witty personality that can overcome any vilans or poverty.
              I pledged myself to be such a macho man who can entertain people
              and bring the dawn to this darkened world.
              Therefore, I decided the main concept to save the world.
            </p>
            <p>
              I put all my passions to entertain you like the examples of "Check it out" section below.
              I recommend to go back again to the other page you've visited if you didn't notice my hidden thoughts.
              In the case you are intrigued by the developer, shall we get down to the business?
            </p>
          </div>
        </div>
      </details>
    </div>

    <div id="check_it_out" class="section"  data-aos="flip-up">
      <details>
        <summary>
          <div class="accordion-title">
            <p>
              Check it out
            </p>
          </div>
        </summary>
        <div class="accordion-content">
          <div class="paper">
            <p>
              You've already noticed some of my entertaining points, but what about below?
              I hope you can enjoy my work twice ;)
            </p>
            <dl>
              <dt>Serifs @/home etc...</dt>
              <dd>
                This is main entertainment of this site.
                My characters can speak by the modal.
                The serif function has three features.
                <ul>
                  <li>Selection</li>
                  <li>Transition</li>
                  <li>Typewriting display</li>
                </ul>
                By these function, you can enjoy wandering this website like novel game!
              </dd>
              <dt>Map Moving @/home</dt>
              <dd>
                You can walk around each room by clicking or tapping the arrows on map area,
                and encounter another characters!
                Some characters may take you to special pages,
                the others might tell you the secret of this haunted house...
              </dd>
              <dt>Card Changes @/aboutme</dt>
              <dd>
                Did you notice that the pointer changes on the element of my card?
                This means what you see; you can click it.
                When you can click it, you would see the unknown aspects of the creator.
                For your information, the card would change when you reload in About Me page.
                <div class="details_img">
                  <div>
                    <img src="../../../assets/img/status_element.png" alt="element">
                  </div>
                </div>
              </dd>
              <dt>Skill Board Shuriken @/aboutme</dt>
              <dd>
                In fact, the shuriken which shows my strengths of each item,
                would change from Ninja Star into Kunai.
                If you can resize the window of browser, they would transform to another form.
                <div class="details_img">
                  <div>
                    <img src="../../../assets/img/skill_board_landscape.png" alt="shuriken">
                  </div>
                  <div>
                    <img src="../../../assets/img/skill_board_portrait.png" alt="kunai">
                  </div>
                </div>
              </dd>
              <dt>Whose eye? Whose mouths?  @/aboutme</dt>
              <dd>
                I'm sorry that you might scared when you scroll at the About Me page.
                You might wonder that who were staring at you or smiling at you?
                Don't worry, they are just my eye and my wife's mouth.
                There are no cursed things in my site, I wish.
              </dd>
              <dt>Handscroll of my history @/aboutme</dt>
              <dd>
                As css efforts, this is most arduous work on this website...
                Based on a accordion, I expressed the handscroll part by assembling pillars.
                The golden metalic luster can be expressed by gradation of yellowish colors, FYI.
              </dd>
              <dt>Kabuki curtain @/character-list</dt>
              <dd>
                When you click or tap characters below the stage,
                the character would dissapear like a ghost and next time appears on the stage,
                with closing and opening curtain.
                Actually I would feel a bit shy when I choose my character, lol.
              </dd>
              <dt>Game Over @/error</dt>
              <dd>
                It is common sense that some curious hacker would try to crack a site when they like it.
                So I implemented a trap for the unauthorized operation like using developer tools.
                When you try to do bad manners, you would go to hell and have to restart from the begining.
                Manners maketh a man,
                as <a href="https://en.wikipedia.org/wiki/Kingsman:_The_Secret_Service" target="blank">Galahad</a> says.
                Although you dare try to go to hell, <a href="/error">you can see the page directly from here.</a>
              </dd>
              <!-- <dt>the Chamber of Secret @ /home</dt>
              <dd>
                Actually, there is a secret room on this house.
                You may find the entrance for there, or Yokais to give you a hint.
                Huh? Couldn't you find anything anywhere? No choice, just you and me.
                Tap around here, until something shows reactions (hint image)
              </dd> -->
            </dl>
          </div>
        </div>

      </details>
    </div>

    <div id="technology" class="section" data-aos="flip-up">
      <details>
        <summary>
          <div class="accordion-title">
            <p>
              Technology
            </p>
          </div>
        </summary>
        <div class="accordion-content">
          <div class="paper">
            <p>
              I used the libraries, frameworks or services below to implement this website.
              At least, I'm demonstrating you my abilities about them now.
            </p>
            <dt>Angular</dt>
            <dd>
              A framework of screen. I chose it because I have experience of it at my business.
              At coding, I've strongly commited to the extendibility of contents.
              For example, I arranged all serifs into JSON files,
              which means I don't have to change code for enhance its contents.
              Sometime this kind of efforts would underestimate like just for convinience of developers,
              however I believe this influence of the growing speed on the service,
              since it makes less costs to release.
            </dd>
            <dt>ngx-bootstrap</dt>
            <dd>
              A CSS framework. Mainly I used it for responsive layout.
              I've tried to use its decorations but given up since it doesn't match the design concepts;
              Japanese horror taste.
              Hence I implemented the most of css decorations by myself.
            </dd>
            <dt>anime.js</dt>
            <dd>
              A Javascript animation library. Mainly I used it for complex animations.
              It was the first time I use, but I pretty like it since its basics are similar
              to normal css animation and easy to set up.
            </dd>
            <dt>AOS.js</dt>
            <dd>
              A Javascript animation library.
              It can add appering effect easily.
              I recommend it because it can modernize your site quite easily.
            </dd>
            <dt>RxJS</dt>
            <dd>
              A JavaScript library for reactive programing.
              Check it out <a href="https://rxjs.dev/guide/overview" target="blank">the official document</a>
              about reactive programing.
              I used it to switch rooms in map, showing loading screen and so on.
            </dd>
            <dt>Flask</dt>
            <dd>
              An API framework of Python.
              I used it for sending mail from contact form.
              Of course I implemented Authentication, throttling or like that as basic manners of API security.
            </dd>
            <dt>Send Grid</dt>
            <dd>
              An Mail Sending Service which supplied from Twilio.
              You can send email without bothersome mail server setting through its Web API.
              I request it via the above-mentioned Flask API.
            </dd>
          </div>
        </div>
      </details>
    </div>

    <div id="system_requirements" class="section" data-aos="flip-up">
      <details>
        <summary>
          <div class="accordion-title">
            <p>
              System requirements
            </p>
          </div>
        </summary>
        <div class="accordion-content">
          <div class="paper">
            <p>
              I expect Chrome or Firefox in latest version to browse my website.
              For responsive design, I confirmed with android tablet and smartphone.
              I'm sorry for Apple but Pixel was closer to my taste.
            </p>
            <p>
              In the case you don't see in the recommended enviroments,
              you might encounter unexpected experience...
              Internet Explorer is dead. Let her rest in peace.
              I didn't prepare polyfills for grave robbers\( ^o^ )/
            </p>
          </div>
        </div>
      </details>
    </div>

    <div id="acknowledge" class="section" data-aos="flip-up">
      <details (click)="setOpenStateOfLastAccordion()">
        <summary>
          <div class="accordion-title">
            <p>
              Acknowledge
            </p>
          </div>
        </summary>
        <div class="accordion-content">
          <div class="paper">
            <p>
              There are too many people to thank for inspiring me to make this website creative,
              so I write about three women as the representatives this time.
            </p>
            <p>
              First, I want thank first the illustrator, my wife.
              She gave the biggest contribution through countless attractive illustrations.
              Without her images, this site might lose originality
              and indistinguishable from other ordinary site
              and be forgotten beyond darkness
              besides I waste my lifetime then would be frightened by the scare of dying in vein.
              I love you honey.
            </p>
            <p>
              In the aspect of designs,
              I owe <a href="https://www.marv.jp/special/game/sakuna/" target="blank">Princess Sakuna</a> too much.
              I used their official website as the best reference.
              It is definitely among sophisticated masterpieces of Japanese taste design.
              There are lots of good sites but yours is the bestest.
              If you have Switch or PS4, you must rush to close my site and buy their download package.
              In the case you don't have none of Switch or PS4, you should buy them first.
            </p>
            <p>
              Finally, I must appreciate
              <a href="https://www.youtube.com/user/christinaaguilera" target="blank">Christina Aguilera</a>,
              since I came up with the idea of this site while listening to Haunted Heart.
              Why the song is not in DAM or JoySound (Major types of Karaoke Machine in Japan) yet?
              I cannot practice the song!
              I have a right to claim it because I've already watched
              <a href="https://en.wikipedia.org/wiki/The_Addams_Family_(2019_film)" target="blank">The Addams Family</a> twice.
              And give me your autograph, please.
              My sister is an enthusiastic fan of you, one of your soul sisters.
              <iframe src="https://www.youtube.com/embed/ECtJp58ELcE"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            </p>
          </div>
        </div>
      </details>
    </div>
  </div>
</div>
